body {
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
    margin: 0;
    padding: 0;
  }

.contenu{
    background-color: rgb(240, 233, 233);
    

}

.test{
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
    color: white;
}

.prendre{
    text-decoration: none;
    font-weight: bold;
    color: #fc2c77;
    
}

.prendre:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

#session{
    font-size: 12px;
    font-weight: bold;
    font-style: initial;
}